@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    
    height: 100vh;
}

.dongle-regular {
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
}

.container-home {
    background-color: #789e20;
    height: 100vh;
}
  
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #773344;
    margin-bottom: 10px;
    font-family: "Dongle", serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header img {
    width: 60px;
    cursor: default;
}

.title {
    color: #FAFFFD;
    font-size: 54px;
}

.task-container {
    background-color: #fafffd34;
    border: 3px solid #FAFFFD;
    padding: 15px;
    border-radius: 5px;
    
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form {
    width: 80%;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.add input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.add img {
    width: 25px;
    background-color: #789e204b;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid black;
}

thead, tbody {
    display: block;
}

thead th {
    padding-left: 90px;
    font-size: 36px;
}

tbody {
    overflow-y: scroll;
    height: 310px;
}

tbody input {
    padding: 10px;
    border-radius: 10px;
}

tr.completed {
    text-decoration: line-through;
    color: #2A3D45;
}

tr.pending {
    text-decoration: none;
}

tr input {
    width: 100%;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #485f13;
    border-radius: 5px;
}

td {
    font-size: 32px;
}

th, td {
    padding: 5px 50px;
}

img {
    width: 30px;
    margin: 0px 15px;
    cursor: pointer;
    padding: 5px;
}

img:hover {
    background-color: #789e20;
    border-radius: 5px;
}

button {
    background: none;
    border: none;
}

footer {
    display: flex;
    font-family: "Dongle", serif;
    justify-content: center;
    background-color: #8edd6957;
}

a {
    text-decoration: none;
    color: #2A3D45;
    font-size: 20px;
}